 body {
   background-image: url('https://cdn.vectorstock.com/i/500p/13/40/todo-list-seamless-pattern-universal-background-vector-7561340.jpg');
   background-size: cover;
   background-attachment: fixed;
   min-height: 100vh;
 }

